@model List<Person>

<h1>People</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Display name</th>
        </tr>
    </thead>
    <tbody>
        <vc:List people="@Model"></vc:List>
    </tbody>

    @*@foreach (var item in Model)
    {
        @Html.DisplayFor(m => item, "Person2")
    }*@

</table>