<div class="row">
  <div class="col-md-4 list-group">
    <h3 class="tile-header">Todo</h3>
    <ng-container *ngFor="let issue of issuesTodo">
      <app-tile [issue]="issue"></app-tile>
    </ng-container>
  </div>
  <div class="col-md-4 list-group">
    <h3 class="tile-header">Doing</h3>
    <ng-container *ngFor="let issue of issuesDoing">
      <app-tile [issue]="issue"></app-tile>
    </ng-container>
  </div>
  <div class="col-md-4 list-group">
    <h3 class="tile-header">Done</h3>
    <ng-container *ngFor="let issue of issuesDone">
      <app-tile [issue]="issue"></app-tile>
    </ng-container>
  </div>
</div>
