.desc {
  font-weight: 600;
}

.title {
  margin: 15px auto;
}

.isUrgent {
  color: orangered;
  font-weight: 600;
  font-size: 25px;
  font-style: italic;
}

.assigned-to {
  border: 1px dashed orange;
  text-align: center;
  margin-top: 10px;
}

.column-header {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.tile {
  margin-top: 10px;
  border-top-width: 1px;
  border-radius: inherit;
  min-height: 150px;
}
