
<form method="post" asp-action="Upload" asp-controller="FileUpload" enctype="multipart/form-data">
    <div>
        <label>Select file:</label>
        <input name="file" type="file" />
    </div>
    <button type="submit">Send</button>
</form>